In [ ]:
# 다음 데이터 세트를 이용하여 다이아몬드 가격예측(회귀) 

# url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv" diamonds = pd.read_csv(url) 

# 1. ML (RF, DT, LR) 수행

# 2. Dense layer만 이용 FNCC 구현

# 3. 순환 데이터 변환후 CNN 구현



# 각 단계별로 수행완료후

# 검사받은 이후에 다음 단계 진행

In [68]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats  # 과학용 계산 라이브러리
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv", index_col=0)
df

             cut color clarity  depth  table  price     x     y     z
carat
0.23       Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
0.21     Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
0.23        Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
0.29     Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
0.31        Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...          ...   ...     ...    ...    ...    ...   ...   ...   ...
0.72       Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
0.72        Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
0.70   Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
0.86     Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
0.75       Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 9 columns]

In [37]:
# 컬렴명 확인
df.columns

Index(['cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y', 'z'], dtype='object')

In [38]:
# 결측치 확인
df.isnull().sum()

cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [39]:
# 결측치 제거 및 다시 확인
df.dropna()
df.isnull().sum()

cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          0
dtype: int64

In [40]:
# cut, color 컬럼 레이블 인코딩
le = LabelEncoder()
df['cut'] = le.fit_transform(df['cut'])
df['color'] = le.fit_transform(df['color'])
df['clarity'] = le.fit_transform(df['clarity'])

In [41]:
X = df.drop('price',axis=1)
X.head()

       cut  color  clarity  depth  table     x     y     z
carat
0.23     2      1        3   61.5   55.0  3.95  3.98  2.43
0.21     3      1        2   59.8   61.0  3.89  3.84  2.31
0.23     1      1        4   56.9   65.0  4.05  4.07  2.31
0.29     3      5        5   62.4   58.0  4.20  4.23  2.63
0.31     1      6        3   63.3   58.0  4.34  4.35  2.75

In [49]:
# 'price' 컬럼의 레이블 개수 확인
label_counts = df['price'].value_counts() 
print(label_counts)

price
605      132
802      127
625      126
828      125
776      124
        ...
8816       1
14704      1
14699      1
14698      1
9793       1
Name: count, Length: 11602, dtype: int64

In [32]:
y = df['price']
y.head()

carat
0.23    326
0.21    326
0.23    327
0.29    334
0.31    335
Name: price, dtype: int64

In [52]:
# 5. 데이터 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [53]:
# 스케일링
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [ ]:
model = LogisticRegression()
model.fit(X_train_scaled, y_train)
ly_preds = model.predict(X_test_scaled))

# 데이터의 최대값과 최소값 확인
max_value = df['price'].max() 
min_value = df['price'].min()  
range_value = max_value - min_value

print('평균제곱근오차', mean_squared_error(ly_preds, y_test) / range_value)

def mse_np(actual, predicted):
    return np.mean((np.array(actual) - np.array(predicted)) ** 2)

print('평균제곱근오차', mse_np(ly_preds, y_test) / range_value)

def mse(actual, predicted):
    sum_square_error = sum((a - p) ** 2 for a, p in zip(actual, predicted))
    mean_square_error = sum_square_error / len(actual)
    return mean_square_error

print('평균제곱근오차', mse(ly_preds, y_test) / range_value)

In [64]:
model = RandomForestRegressor()
model.fit(X_train_scaled, y_train)

ry_preds = model.predict(X_test_scaled)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test) / range_value)

평균제곱근오차 17.44448982717309

In [56]:
model = DecisionTreeRegressor()
model.fit(X_train_scaled, y_train)

dy_preds = model.predict(X_test_scaled)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test) / range_value)

평균제곱근오차 31.62078836943345